//- Metas vars
- var title = "Lorem"
- var meta_description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non risus pellentesque, mattis urna nec, scelerisque ipsum. Curabitur sagittis vestibulum nisi, vitae sollicitudin massa ultricies ut. Sed sollicitudin congue nibh."
- var meta_keywords = "Curabitur, sagittis, vestibulum nisi, vitae sollicitudin, massa, ultricies ut"